<h1>Edit list</h1>

<%= render('layouts/errors', :object => @list) %>

<%= form_for @list do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :done %>
  <%= f.check_box :done %>
  <p><%= f.submit %></p>
<% end %>
